<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="User">
	<select id="getUser" parameterType="string" resultType="User">
		select u.*, r.text from user u, role r where u.roleId = r.id and u.username = #{username}
	</select>
	
	<select id="isExists" parameterType="string" resultType="int">
		SELECT CASE WHEN count(username) > 0 THEN 1 ELSE 0 END FROM user WHERE username = #{username}
	</select>
</mapper>