<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="User">
	<cache />
<!-- 	********************************************** 
			Start Of Defining Result Map 
		********************************************** 
-->

	<resultMap type="User" id="User">
		<id column="empId" property="empId"  />
		<collection property="addressInfo"
		ofType="EmployeeAddressInfo" select="getEmployeeAddress"
		column="empId"/>
		<collection property="phoneInfo"
		ofType="EmployeePhoneInfo" select="getEmployeeContact"
		column="empId"/>
		<collection property="projectInfo"
		ofType="EmployeeProjectInfo" select="getEmployeeProjects"
		column="empId"/>	
  </resultMap>

	<resultMap type="EmployeeAddressInfo" id="EmployeeAddressInfoMap">
		<id column="empId" property="empId" jdbcType="INTEGER" />	
     </resultMap> 
     
     <resultMap type="EmployeePhoneInfo" id="EmployeePhoneInfoMap">
		<id column="empId" property="empId" jdbcType="INTEGER" />	
     </resultMap>
     
      <resultMap type="EmployeeProjectInfo" id="EmployeeProjectInfoMap">
		<id column="empId" property="empId" jdbcType="INTEGER" />	
     </resultMap>
      
    <select id="getUser" parameterType="string" resultType="User">
		select
		e.empId,e.firstName,e.email,e.password,e.designationId,e.empCode,e.firstLoginStatus
		from EmployeeInfo e where e.email=#{email}
    </select>
    
		<select id="isExists" parameterType="string" resultType="int">
		SELECT
		CASE WHEN count(email) > 0 THEN 1 ELSE 0 END FROM EmployeeInfo WHERE
		email = #{email}
	</select>

	<select id="getRoles" parameterType="int"
		resultType="com.awcsoftware.spring.security.auth.user.Role">
		select r.roleId ,r.role from EmployeeRole er inner join RolesInfo r on
		er.roleId=r.roleId where er.empId=#{empId};
	</select>
	
<!-- *********************************************************************** 
		Operation to reset or change password of a user
		1.resetPassword(if user login first time or user wants to change password)
		2.updatePassword(if user forgot the password) 
    *********************************************************************** -->
<update id="resetPassword" parameterType="User">
 update EmployeeInfo set password=#{newPassword}, firstLoginStatus=1 where email=#{email};
</update>

<update id="updatePassword" parameterType="User">
 update EmployeeInfo set password=#{newPassword} where email=#{email};
</update>

<!--********************************************************************************************
     Operations for confirmation token(to confirm that the token used by user to create
     new password if he/she forgot is valid or not)
**********************************************************************************  -->	
<insert id="saveToken" parameterType="ConfirmationToken" keyProperty="tokenId" useGeneratedKeys="true"> 
insert into ConfirmationToken(token,tokenCreationDate,tokenExpiryDate,empId) values(#{token},#{tokenCreationDate},#{tokenExpiryDate},(select empId from EmployeeInfo where email=#{user.email}))
 </insert>
 
 <update id="updateToken" parameterType="ConfirmationToken">
  update ConfirmationToken t inner join EmployeeInfo e on t.empId=e.empId set t.token=#{token},t.tokenCreationDate=#{tokenCreationDate},t.tokenExpiryDate=#{tokenExpiryDate} where e.email=#{user.email} 
 </update>
 
<select id="checkToken" resultType="ConfirmationToken">
 select t.empId ,t.token,e.email,t.tokenExpiryDate from ConfirmationToken t inner join EmployeeInfo e on e.empId=t.empId where e.email=#{user.email} 
</select>
 
 <select id="findByToken" resultType="ConfirmationToken"> 
 select t.tokenExpiryDate,t.token,t.empId from ConfirmationToken t inner join EmployeeInfo e on e.empId=t.empId where t.token=#{token} 
 </select>
 
<delete id="deleteToken" parameterType="ConfirmationToken">
delete t from ConfirmationToken t inner join EmployeeInfo e on e.empId=t.empId where e.email=#{email}
</delete>
<!-- queries for logintransaction  -->
<select id="checkLoginTransaction" resultType="EmployeeLoginTransaction" parameterType="EmployeeLoginTransaction">
select * from LoginTransaction lt inner join EmployeeInfo e on e.empId=lt.empId where lt.passwordExpiryDate &lt;&gt; '' and e.email=#{user.email} and lt.loginTimestamp=(select MAX(loginTimestamp) from LoginTransaction) LIMIT 1;
</select>

<insert id="saveLoginTransaction" parameterType="EmployeeLoginTransaction" keyProperty="empId" useGeneratedKeys="true">
  insert into LoginTransaction(empId,loginTimestamp,lastPasswordChange,passwordExpiryDate,activityStatus,statusReason) values((select empId from EmployeeInfo where email=#{user.email}),#{loginTimestamp},#{lastPasswordChange},#{passwordExpiryDate},#{activityStatus},#{statusReason})
</insert>

<insert id="saveLastLogin" parameterType="EmployeeLoginTransaction" keyProperty="empId" useGeneratedKeys="true">
insert into LoginTransaction values(#{empId},#{loginTimestamp},#{lastPasswordChange},#{passwordExpiryDate},#{activityStatus},#{statusReason});
</insert>

<insert id="insertEmployee" parameterType="User" keyProperty="empId" useGeneratedKeys="true">
insert into EmployeeInfo(empCode,firstName,middleName,lastName,email,dob,doj,
password,designationId,status,addedOn,lastModifiedOn,firstLoginStatus,mailFlag) 
values(#{empCode},#{firstName},#{middleName},#{lastName},#{email},
#{dob},#{doj},#{password},#{designationId},#{status},now(),#{lastModifiedOn},0,'NO');
</insert>

<insert id="addEmployeeAddress" parameterType="EmployeeAddressInfo" keyProperty="addressId" useGeneratedKeys="true">
insert into AddressInfo (empId,addressType,street1,street2,landmark,city,
	state,country,zipcode,status,addedOn) 
values (#{empId},#{addressType},#{street1},
		#{street2},#{landmark},
		#{city},#{state},#{country},
		#{zipcode},#{status},now());
</insert>

<insert id="addEmployeePhone" parameterType="EmployeePhoneInfo" keyProperty="phoneNumberId" useGeneratedKeys="true">
insert into PhoneNumberInfo(empId,phoneNumberType,phoneNumber,status,addedOn) 
values(#{empId},#{phoneNumberType},#{phoneNumber},#{status},now()) ;
</insert>

<insert id="addEmployeeProjects" parameterType="EmployeeProjectInfo" keyProperty="pdId" useGeneratedKeys="true">
insert into ProjectTeamDetails(projectId,empId,role,workingLocation,startDate,endDate,status,addedOn) 
values(#{projectId},#{empId},#{role},#{workingLocation},#{startDate},#{endDate},#{status},now());
</insert>

<select id="checkEmployee" resultType="int" parameterType="User">
 select count(*) from EmployeeInfo where empCode=#{empCode} or email=#{email};
</select>

<update id="updateEmployee" parameterType="User">
update EmployeeInfo set firstName=#{firstName},middleName=#{middleName},lastName=#{lastName},
designationId=#{designationId},status=#{status},doj=#{doj} where empId=#{empId};
</update>

<update id="updateEmployeePhone" parameterType="EmployeePhoneInfo">
update PhoneNumberInfo set empId=#{empId},phoneNumberType=#{phoneNumberType}
,phoneNumber=#{phoneNumber},status=#{status},
lastModifiedOn=now() where empId=#{empId} and phoneNumberId=#{phoneNumberId}
</update>

<update id="updateEmployeeProject" parameterType="EmployeeProjectInfo">
 update ProjectTeamDetails set
 role=#{role},
 workingLocation=#{workingLocation},
 startDate=#{startDate},
 endDate=#{endDate},
 status=#{status},
 lastModifiedOn=now() where empId=#{empId} and pdId=#{pdId}
</update>

<update id="updateEmployeeAddress" parameterType="EmployeeAddressInfo">
 update AddressInfo set empId=#{empId},
 addressType=#{addressType},street1=#{street1},street2=#{street2},
 landmark=#{landmark},city=#{city},state=#{state},country=#{country},
 zipcode=#{zipcode},status=#{status},
 lastModifiedOn=now() where empId=#{empId} and addressId=#{addressId}
</update>

<select id="getEmployee" resultMap="User" parameterType="User">
select empId,empCode,firstName,middleName,lastName,email,dob,doj,designationId,status,addedOn,lastModifiedOn,firstLoginStatus from EmployeeInfo 
 <where>
<if test="firstName!=null">
  concat(firstName,lastName) like #{firstName}
</if>

<if test="empCode!=null">
  or empCode like #{empCode} 
</if>
<if test="email!=null">
  or email like #{email} 
</if>
<if test="doj!=null">
  doj between doj=#{fromDate} and doj=#{toDate} 
</if>

</where>

 </select>

<select id="getEmployeeAddress" resultMap="EmployeeAddressInfoMap" parameterType="User">
select addressId,empId,addressType,street1,street2,landmark,city,state,country,zipcode,status,addedOn,lastModifiedOn from AddressInfo where empId=#{empId}
</select>

<select id="getEmployeeContact" resultMap="EmployeePhoneInfoMap" parameterType="User">
select phoneNumberId,empId,phoneNumberType,phoneNumber,status,addedOn,lastModifiedOn from PhoneNumberInfo where empId=#{empId}
</select>


<select id="getEmployeeProjects" resultMap="EmployeeProjectInfoMap" parameterType="User">
select pdId,empId, projectId,role,workingLocation,startDate,endDate,status as projectStatus,addedOn,lastModifiedOn  from ProjectTeamDetails where empId=#{empId}
</select>


<!-- 
<select id="getEmployees" resultMap="User">
select empId,empCode,firstName,middleName,lastName,email,dob,doj,designationId,status,addedOn,lastModifiedOn,firstLoginStatus from EmployeeInfo
</select> -->
<!--
<update id="updateFirstLogin" parameterType="EmployeeLoginTransaction">
update EmployeeInfo e inner join LoginTransaction lt on e.empId=lt.empId set firstLoginStatus=0 where e.empId=#{empId}
</update> -->



</mapper>