<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>

		<typeAlias alias="User"
			type="com.awcsoftware.spring.security.auth.user.User" />

		<typeAlias alias="ConfirmationToken"
			type="com.awcsoftware.app.employee.ConfirmationToken" />

		<typeAlias type="com.awcsoftware.app.common.BasePojo"
			alias="BasePojo" />

		<typeAlias type="com.awcsoftware.app.common.ParentBasePojo"
			alias="ParentBasePojo" />
			
			<typeAlias type="com.awcsoftware.app.mail.MailPojo" alias="MailPojo"/>
			
		<typeAlias  type="com.awcsoftware.app.employee.EmployeeLoginTransaction" alias="EmployeeLoginTransaction"/>

		<!-- Start of Mapping classes with Timesheet package -->

		<typeAlias alias="TimecardInfo"
			type="com.awcsoftware.app.timesheet.TimecardInfo" />

		<typeAlias alias="TimecardDayInfo"
			type="com.awcsoftware.app.timesheet.TimecardDayInfo" />

		<typeAlias alias="TimecardDayDetails"
			type="com.awcsoftware.app.timesheet.TimecardDayDetails" />

		<typeAlias alias="TimeCardView"
			type="com.awcsoftware.app.timesheet.TimecardView" />

		<typeAlias alias="TimecardApproverDetails"
			type="com.awcsoftware.app.timesheet.TimecardApproverDetails" />

		<typeAlias alias="TimecardManagerView"
			type="com.awcsoftware.app.timesheet.TimecardManagerView" />

		<typeAlias alias="TimecardDetailSearch"
			type="com.awcsoftware.app.timesheet.TimecardDetailSearch" />

		<typeAlias alias="TimecardProjectWorkDetails"
			type="com.awcsoftware.app.timesheet.TimecardProjectWorkDetails" />
			
		<typeAlias  alias="EmployeeAddressInfo" 
		type="com.awcsoftware.app.employee.EmployeeAddressInfo"/>
		
		<typeAlias alias="EmployeePhoneInfo" 
		type="com.awcsoftware.app.employee.EmployeePhoneInfo"/>
		
		<typeAlias alias ="EmployeeProjectInfo" 
		type="com.awcsoftware.app.employee.EmployeeProjectInfo"/>

		<!-- End of Mapping classes with Timesheet package -->

	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver" />
				<property name="url"
					value="jdbc:mysql://127.0.0.1:3306/timesheet" />
				<property name="username" value="root" />
				<property name="password" value="test123" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<!-- Mapper Definition for Timecard functionality -->
		<mapper
			resource="com/awcsoftware/app/timesheet/TimecardMapper.xml" />
		<mapper
			resource="com/awcsoftware/app/common/BaseRepositoryMapper.xml" />

		<!-- Mapper Definition for employee password functionality -->
		<mapper
			resource="com/awcsoftware/app/employee/EmployeeMapper.xml" />
	</mappers>

</configuration>