<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="User">

<select id="checkToken" resultType="com.awcsoftware.app.timesheet.ConfirmationToken">
 select t.empId ,t.token,e.email,t.tokenExpiryDate from ConfirmationToken t inner join EmployeeInfo e on e.empId=t.empId where e.email=#{user.email} 
</select>
<update id="resetPassword" parameterType="User">
update EmployeeInfo set password=#{password,jdbcType=VARCHAR},firstLoginStatus=#{firstLoginStatus,jdbcType=INTEGER} where email=#{email,jdbcType=VARCHAR};
</update>
	
<insert id="saveToken" parameterType="com.awcsoftware.app.timesheet.ConfirmationToken" keyProperty="tokenId" useGeneratedKeys="true"> 
insert into ConfirmationToken(token,tokenCreationDate,tokenExpiryDate,empId) values(#{token},#{tokenCreationDate},#{tokenExpiryDate},(select empId from EmployeeInfo where email=#{user.email}))
 </insert>
 <update id="updateToken" parameterType="com.awcsoftware.app.timesheet.ConfirmationToken">
  update ConfirmationToken t inner join EmployeeInfo e on t.empId=e.empId set t.token=#{token},t.tokenCreationDate=#{tokenCreationDate},t.tokenExpiryDate=#{tokenExpiryDate} where e.email=#{user.email} 
 </update>
</mapper>