<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TimecardMapper">
	<cache />
<!--	 ********************************************** 
				Start Of Defining Result Map 
		 **********************************************				
-->
	<resultMap id="TimecardInfoMap" type="TimecardInfo">
		<result column="tcId" property="tcId" jdbcType="INTEGER" />
		<result column="empId" property="empId" jdbcType="INTEGER" />
		<result column="weekStart" property="weekStart" jdbcType="DATE" />
		<result column="weekEnd" property="weekEnd" jdbcType="DATE" />
		<result column="totalHours" property="totalHours"
			jdbcType="DECIMAL" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="addedOn" property="addedOn" jdbcType="DATE" />
		<result column="lastModifiedOn" property="lastModifiedOn"
			jdbcType="DATE" />
		<collection property="timecardDetails"
			ofType="com.awcsoftware.app.timesheet.TimecardInfo"
			select="getTimecardById" column="tcId">
			<id column="tcdId" property="tcdId" />
		</collection>
	</resultMap>

	<resultMap id="TimecardDayInfoMap" type="TimecardDayInfo">		
		<id column="tcdId" property="tcdId" jdbcType="INTEGER" />
		<result column="tcId" property="tcId" jdbcType="INTEGER" />
		<result column="workingDate" property="workingDate"
			jdbcType="DATE" />
		<result column="workingDay" property="workingDay"
			jdbcType="VARCHAR" />
		<result column="totalWeekWorkHours" property="totalWeekWorkHours"
			jdbcType="DECIMAL" />
		<result column="status" property="workingHours"
			jdbcType="VARCHAR" />
		<result column="addedOn" property="addedOn" jdbcType="DATE" />
		<result column="lastModifiedOn" property="lastModifiedOn"
			jdbcType="DATE" />
	</resultMap>

	<resultMap id="TimecardDayDetailsMap" type="TimecardDayDetails">		
		<id column="tcddId" property="tcddId" jdbcType="INTEGER" />
		<result column="tcdId" property="tcdId" jdbcType="INTEGER" />
		<result column="tcId" property="tcId" jdbcType="INTEGER" />
		<result column="projectId" property="projectId"
			jdbcType="INTEGER" />
		<result column="activityId" property="activityId"
			jdbcType="INTEGER" />
		<result column="location" property="location"
			jdbcType="VARCHAR" />
		<result column="startTime" property="startTime"
			jdbcType="VARCHAR" />
		<result column="endTime" property="endTime"
			jdbcType="VARCHAR" />
		<result column="workingHours" property="workingHours"
			jdbcType="DECIMAL" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="onLeave" property="onLeave" jdbcType="VARCHAR" />
		<result column="taskDetails" property="taskDetails"
			jdbcType="VARCHAR" />
		<result column="addedOn" property="addedOn" jdbcType="DATE" />
		<result column="lastModifiedOn" property="lastModifiedOn"
			jdbcType="DATE" />
	</resultMap>

	<resultMap id="TimecardDayInfoViewMap" type="TimecardDayInfo">		
		<id column="tcId" property="tcId" jdbcType="INTEGER" />
		<id column="tcdId" property="tcdId" jdbcType="INTEGER" />
		<result column="workingdate" property="workingdate" jdbcType="DATE" />
	    <collection property="timecardDayDetails" column="tcId" javaType="ArrayList" ofType="TimecardDayDetails">
	    	<id property="tcId" column="tcId"/>
	    	<id property="tcdId" column="tcdId"/>
	    	<result property="projectId" column="projectId"/>
	    	<result property="activityId" column="activityId"/>
	    	<result property="location" column="location"/>
	    	<result property="taskDetails" column="taskDetails"/>
	    </collection>			
	</resultMap>

<!-- End Of Defining Result Map -->

<!-- Operations Made on TimecardInfo table -->

	<insert id="addTimecardInfo" parameterType="TimecardInfo"
		useGeneratedKeys='true' keyProperty='tcId'>
		insert into TimecardInfo 
		(empId,weekStart,weekEnd,totalHours,status,addedOn)
		values
		(#{empId},
		#{weekStart},
		#{weekEnd},#{totalHours},#{status},now())
	</insert>

	<update id="updateTimecardInfo" parameterType="TimecardInfo"
		keyProperty="tcId">
		UPDATE TimecardInfo SET status=#{status}, lastModifiedOn=now()
		WHERE tcId=#{tcId} and empId=#{empId}
	</update>

	<update id="updateTimecardInfoHour" parameterType="TimecardInfo"
		keyProperty="tcId">
		UPDATE TimecardInfo SET totalHours = #{totalHours}
		WHERE tcId=#{tcId} and empId=#{empId}
	</update>

	<select id="isCurrentTimecardExist"
		parameterType="TimecardInfo" resultType="int">
		select ifnull(
		(select tcId from TimecardInfo where empId=#{empId} and tcId =#{tcId}
		),-1) from dual;
	</select>

	<select id="isDataForCurrentWeekExists"
		parameterType="TimecardInfo" resultType="int">
		select ifnull(
		(select tcId from TimecardInfo where empId=#{empId} and
		(weekStart between #{weekStart} and #{weekEnd})
		),-1) from dual;
	</select>

<!-- Operation Ended for table TimecardInfo -->

<!-- Operation Ended for table TimecardDayInfo -->

	<insert id="addIndividualTimecardDayInfo" parameterType="TimecardDayInfo"
		useGeneratedKeys='true' keyProperty='tcdId' keyColumn="tcdId">
		insert into
		TimecardDayInfo(tcId,workingDate,workingDay,
		totalWeekWorkHours,status,addedOn)
		values
			(#{tcId},#{workingDate}, #{workingDay}, #{totalWeekWorkHours},
			#{status}, now())
	</insert>

	<insert id="addBatchTimecardDayInfo" parameterType="list"
		useGeneratedKeys='true' keyProperty='tcdId' keyColumn="tcdId">
		insert into
		TimecardDayInfo(tcId,workingDate,workingDay,
		totalWeekWorkHours,status,addedOn)
		values
		<foreach collection="list" item="TimecardDayInfo"
			index="index" separator=",">
			(#{TimecardDayInfo.tcId},#{TimecardDayInfo.workingDate},#{TimecardDayInfo.workingDay},
			#{TimecardDayInfo.totalWeekWorkHours},#{TimecardDayInfo.status},now())
		</foreach>
	</insert>

	<update id="updateTimecardDayInfo"
		parameterType="TimecardDayInfo" useGeneratedKeys="true"
		keyProperty="tcdId">
		UPDATE TimecardDayInfo SET
		status = #{status},
		lastModifiedOn = now()
		WHERE tcdId=#{tcdId} and tcId = #{tcId} and
		workingDate= #{workingDate}
	</update>

	<update id="updateTimecardDayHourInfo"
		parameterType="TimecardDayInfo" useGeneratedKeys="true"
		keyProperty="tcdId">
		UPDATE TimecardDayInfo SET
		status = #{status},
		totalWeekWorkHours = #{totalWeekWorkHours}		
		WHERE tcdId=#{tcdId} and tcId = #{tcId} and
		workingDate= #{workingDate}
	</update>

	<select id="isDataForCurrentDateExists"
		parameterType="TimecardDayInfo" resultType="int">
		select ifnull(
		(select tcdId from TimecardDayInfo where tcId = #{tcId} and 
		workingDate=#{workingDate} limit 0,1),-1) from dual;
	</select>

<!--  Operation ended for table TimecardDayInfo -->

	<insert id="addIndividualTimecardDayDetails" parameterType="TimecardDayDetails"
		useGeneratedKeys='true' keyProperty='tcddId' keyColumn="tcddId">
		insert into
		TimecardDayDetails(tcdId,tcId,projectId,activityId,location,startTime,endTime,workingHours,
		status,taskDetails,lastModifiedon)
		values
			(#{tcdId},#{tcId},#{projectId},#{activityId},#{location}
			,#{startTime},#{endTime},date_format(TimeDiff(#{endTime},#{startTime}),'%H:%i'),#{status},#{taskDetails}, now())
	</insert>

	<insert id="addBatchTimecardDayDetails" parameterType="list"
		useGeneratedKeys='true' keyProperty='tcdId' keyColumn="tcdId">
		insert into
		TimecardDayDetails(tcdId,tcId,projectId,activityId,location,startTime,endTime,workingHours,
		status,taskDetails,addedOn,recordType)
		values

		<foreach collection="list" item="TimecardDayDetails"
			index="index" separator=",">

			(#{TimecardDayDetails.tcdId},#{TimecardDayDetails.tcId},#{TimecardDayDetails.projectId},
			#{TimecardDayDetails.activityId},#{TimecardDayDetails.location},
			#{TimecardDayDetails.startTime},#{TimecardDayDetails.endTime},
			#{TimecardDayDetails.workingHours},#{TimecardDayDetails.status},
			#{TimecardDayDetails.taskDetails}, now(),'A')
		</foreach>
	</insert>

	<update id="updateTimecardDayDetails"
		parameterType="TimecardDayDetails" useGeneratedKeys="true"
		keyProperty="tcddId">
		UPDATE TimecardDayDetails SET
		projectId=#{projectId},
		activityId=#{activityId},
		location=#{location},
		startTime=#{startTime},
		endTime=#{endTime},
		workingHours=#{workingHours},
		status	=#{status},
		taskDetails=#{taskDetails},
		lastModifiedOn = now()
		WHERE tcddId=#{tcddId} and tcdId=#{tcdId} and tcId = #{tcId} 
	</update>

	<update id="DeactivateTimecardDayDetails"
		parameterType="int" useGeneratedKeys="true"
		keyProperty="tcdId">
		UPDATE TimecardDayDetails SET
		recordType='D',
		lastModifiedOn = now()
		WHERE tcId = #{tcId} 
	</update>


	<select id="isDataForCurrentDateTimeExists"
		parameterType="TimecardDayDetails" resultType="int">

		select ifnull((select tcddId from TimecardDayDetails where tcddId not in (#{tcddId}) and  tcdId=#{tcdId} and tcId = #{tcId} and
		starttime between #{startTime} and #{endTime}
		union
		select tcddId from TimecardDayDetails where tcddId  not in (#{tcddId}) and  tcdId=#{tcdId} and tcId = #{tcId} and 
		endtime between #{startTime} and #{endTime}  limit 0,1),-1) from dual
	</select>

	<select id="isDataForCurrentTimecardExists"
		parameterType="TimecardDayDetails" resultType="int">

		select ifnull((select tcddId from TimecardDayDetails where tcId = #{tcId} and tcdId = #{tcdId} and recordType='A' and  
		starttime between #{startTime} and #{endTime}
		union
		select tcddId from TimecardDayDetails where tcId = #{tcId}  and tcdId = #{tcdId}  and recordType='A' and 
		endtime between #{startTime} and #{endTime} limit 0,1),-1) from dual
	</select>

<!-- Select query to show data on view page for logged in employee -->
	<select id="getTimecardView" parameterType="int"
		resultType="TimeCardView">
		select tcId,ifnull(weekStart,' ') as
		weekstartDT,ifnull(weekEnd,' ') as weekEndDT, ifnull(status,' ') as
		status,
		ifnull(concat(date_format(weekStart,'%d %b'),' to
		',date_format(weekend,'%d %b')),' ') WeekPeriod,
		ifnull(totalHours,' ')
		totalHour,ifnull(status,' ') statusGrid	from TimecardInfo tcsi where
		empId=#{empId};
	</select>

	<select id="getTimecardDetailView" resultMap="TimecardDayInfoViewMap">
			select a.tcdid,projectId ,activityId ,location ,taskDetails ,
			concat(substr(dayname(workingdate),1,3),' ',date_format(workingdate,'%b %d')) , 
			sum(workingHours) from timecarddayinfo a inner join timecarddaydetails b 
			on a.tcid=b.tcid and a.tcdid=b.tcdid  where a.tcid=#{tcId} group by 1,2,3,4;
	</select>

<!--  ***********************************************************************
		Operation to fetch Project approver details for case of submit 
		to insert data into table TimecardApprover Details 
	  ***********************************************************************			
-->

	<select id="getProjectApproverList" parameterType="TimecardDayDetails"
		resultType="TimecardApproverDetails">
			select pId projectId,tcApprover approverId,level levelId from ProjectApproverDetails 
				where pId=#{projectId} and startDate &lt;=#{workingDate} and endDate &gt;=#{workingDate} 
	</select>	

	<select id="isApproverExistforCurrentTimecardProject" parameterType="TimecardApproverDetails"
		resultType="int">
			select ifnull((select tcadId from TimecardApproverDetails 
				where tcId=#{tcId} and projectId=#{projectId} and approverId=#{approverId} limit 0,1),-1) from dual  
	</select>	

	<insert id="addTimecardApproverDetails" parameterType="TimecardApproverDetails"
		useGeneratedKeys="true"	keyProperty="tcadId">
			insert ignore into TimecardApproverDetails (tcId,projectId,approverId,levelId,status,comments,addedOn) 
			values (#{tcId},#{projectId},#{approverId},#{levelId},'Pending',' ',now())
	</insert>	

<!--  Operation ended for submit data into table TimecardApprover Details -->

	<select id="getTimecardByManager" parameterType="int"
	resultType="TimecardInfo">
		select
		e.empId,e.firstName,ti.totalHours,ti.status,ti.weekStart,ti.weekEnd,tad.comments,tad.status
		from TimecardApproverDetails tad,EmployeeInfo e inner join
		TimeCardSummaryInfo ti on ti.empId=e.empId where
		tad.approverId=#{approverId};
	</select>

</mapper> 
 
 
