<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TimeSheetSummaryMapper">
	<cache />
	<resultMap id="TCSummaryInfo"
		type="TimecardSummaryInfo">
		<result column="tcId" property="tcId" jdbcType="INTEGER" />
		<result column="empId" property="empId" jdbcType="INTEGER" />
		<result column="weekStart" property="weekStart" jdbcType="DATE" />
		<result column="weekEnd" property="weekEnd" jdbcType="DATE" />
		<result column="yearWeek" property="yearWeek"
			jdbcType="INTEGER" />
		<result column="totalHours" property="totalHours"
			jdbcType="DECIMAL" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="addedOn" property="addedOn" jdbcType="DATE" />
		<result column="lastModifiedOn" property="lastModifiedOn"
			jdbcType="DATE" />
		<collection property="timeCardDetails"
			ofType="com.awcsoftware.app.timesheet.TimeCardSummaryInfo"
			select="getTimecardById" column="tcId">
			<id column="tcdId" property="tcdId" />
		</collection>
	</resultMap>

	<resultMap id="TCDetails" type="TimecardDetails">
		<id column="tcdId" property="tcdId" jdbcType="INTEGER" />
		<result column="tcId" property="tcId" jdbcType="INTEGER" />
		<result column="projectId" property="projectId"
			jdbcType="INTEGER" />
		<result column="activityId" property="activityId"
			jdbcType="INTEGER" />
		<result column="workingDay" property="workingDay"
			jdbcType="VARCHAR" />
		<result column="workingDate" property="workingDate"
			jdbcType="DATE" />
		<result column="workingHours" property="workingHours"
			jdbcType="DECIMAL" />
		<result column="comments" property="comments"
			jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="addedOn" property="addedOn" jdbcType="DATE" />
		<result column="lastModifiedOn" property="lastModifiedOn"
			jdbcType="DATE" />
		<result column="taskDetails" property="taskDetails"
			jdbcType="VARCHAR" />
	</resultMap>


	<insert id="addTCSummaryInfo"
		parameterType="TimecardSummaryInfo" useGeneratedKeys='true'
		keyProperty='tcId'>
		insert into
		TimeCardSummaryInfo
		(tcId,empId,weekStart,weekEnd,yearWeek,totalHours,status,addedOn,lastmodifiedon)
		values
		(#{tcId},
		#{empId},
		#{weekStart},
		#{weekEnd},#{yearWeek},#{totalHours},#{status},#{addedOn},now())
	</insert>

	<insert id="addTCDetails" parameterType="list"
		useGeneratedKeys='true' keyProperty='tcdId' keyColumn="tcdId">
		insert into
		TimeCardDetails(tcId,projectId,activityId,workingDay,workingDate,
		workingHours,comments,status,addedOn,lastModifiedOn,taskDetails)
		values

		<foreach collection="list" item="TimecardDetails"
			index="index" separator=",">
			(#{TimecardDetails.tcId},#{TimecardDetails.projectId},#{TimecardDetails.activityId},
			#{TimecardDetails.workingDay},#{TimecardDetails.workingDate},
			#{TimecardDetails.workingHours},#{TimecardDetails.comments},#{TimecardDetails.status},
			#{TimecardDetails.addedOn},now(),#{TimecardDetails.taskDetails})
		</foreach>
	</insert>

	<update id="updTCSummaryInfo"
		parameterType="TimecardSummaryInfo"	keyProperty="tcId">
		UPDATE TimeCardSummaryInfo SET yearWeek = #{yearWeek}, totalHours =	#{totalHours},
		status=#{status}, lastModifiedOn=now()	WHERE tcId=#{tcId} and empId=#{empId}
	</update>

	<update id="updTCDetails"
		parameterType="TimecardDetails"
		useGeneratedKeys="true" keyProperty="tcdId">
		UPDATE TimeCardDetails SET
		projectId = #{projectId},
		activityId = #{activityId},
		workingDay = #{workingDay},
		workingDate = #{workingDate},
		workingHours = #{workingHours},
		comments = #{comments},
		status = #{status},
		addedOn = #{addedOn},
		lastModifiedOn = now(),
		taskDetails=#{taskDetails}
		WHERE tcdId=#{tcdId} and tcId = #{tcId} and workingDay= #{workingDay}
	</update>

	<select id="srhTCSummaryById" parameterType="int"
		resultType="TimecardSummaryInfo" resultMap="TCSummaryInfo">
		SELECT ifnull(tcid,'-1')
		FROM TimeCardSummaryInfo WHERE tcId= #{tcId}
	</select>

	<select id="vldTCDate" parameterType="TimecardSummaryInfo"
		resultType="TCDBValidate">
			<![CDATA[select tcId, weekStart, weekEnd, dateDiff(weekEnd,weekStart) dateDiffVal, status from 
				timecardsummaryinfo where empId= #{empId} and 
				(((weekStart< #{weekStart} or weekStart= #{weekStart} ) and 
				(weekend> #{weekEnd} or weekend=#{weekEnd} )) or 
				(( weekStart > #{weekStart} or weekStart= #{weekStart} ) and 
				(weekend>#{weekStart} or weekend=#{weekStart}) and (weekStart<#{weekStart} OR weekStart=#{weekStart} )) or 
				((weekStart<#{weekStart} or weekStart=#{weekStart} ) and 
				(weekend<#{weekEnd} or weekend=#{weekEnd} ) and (weekend>#{weekStart} or weekend=#{weekEnd}))) limit 0,1
			 ]]>
	</select>

	<select id="vldTCDTTime" parameterType="TimecardDetails"
		resultType="TCTimeValidate">

			<![CDATA[select tcdId, tcId, projectId, activityId, workingDate, startTime , endTime , workingHours,  status from 
				timecarddetails where tcId = #{tcId} and workingDate=#{workingDate} 
				and startTime>=#{startTime} and endTime<=#{endTime}  
			 ]]>
	</select>	

	<select id="srhTCByID" parameterType="int"
		resultType="TimecardDetails" resultMap="TCDetails">
		SELECT ifnull(tcdid,'-1')
		FROM TimeCardDetails WHERE tcdId= #{tcdId} and
		tcId= #{tcId}
	</select>

	<select id="getTCView" resultType="TimeCardView" >

		select tcId,ifnull(weekStart,' ') as weekstartDT,ifnull(weekEnd,' ') as weekEndDT, ifnull(status,' ') as status,
		ifnull(concat(date_format(weekStart,'%d %b'),' to ',date_format(weekend,'%d %b')),' ') WeekPeriod,
		ifnull(totalHours,' ') totalHour,
		ifnull((select group_concat(distinct concat(firstName,' ',lastName )) from 
		timecardapprovaldetails tcad, timecarddetails tcd,employeeinfo where 
		tcd.tcId=tcsi.tcid and tcad.tcdId=tcd.tcdid and empId=approverId ),' ') managerName		
		,ifnull(status,' ') statusGrid,ifnull((select group_concat(distinct tcad.comments) from 
		timecardapprovaldetails tcad ,
		timecarddetails tcd where
		tcd.tcId=tcsi.tcid and tcad.tcdId= tcd.tcdid ),' ')	managerComment
		from timecardsummaryinfo tcsi;

	</select>

</mapper> 
 
 
 
 
