<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TimecardMapper">
	<cache />
<!-- 	********************************************** 
			Start Of Defining Result Map 
		********************************************** 
-->
	<resultMap id="TimecardInfoMap" type="TimecardInfo">
		<id column="tcId" property="tcId" jdbcType="INTEGER" />
		<result column="empId" property="empId" jdbcType="INTEGER" />
		<result column="weekStart" property="weekStart" jdbcType="DATE" />
		<result column="weekEnd" property="weekEnd" jdbcType="DATE" />
		<result column="totalHours" property="totalHours"
			jdbcType="DECIMAL" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="addedOn" property="addedOn" jdbcType="DATE" />
		<result column="lastModifiedOn" property="lastModifiedOn"
			jdbcType="DATE" />
		<collection property="timecardDayInfo"
			ofType="TimecardDayInfo" select="getTimecardDayInfoPerTCID"
			column="tcId">
			<id column="tcdId" property="tcdId" />
		</collection>
	</resultMap>

	<resultMap id="TimecardDayInfoMap" type="TimecardDayInfo">
		<id column="tcdId" property="tcdId" jdbcType="INTEGER" />
		<result column="tcId" property="tcId" jdbcType="INTEGER" />
		<result column="workingDate" property="workingDate"
			jdbcType="DATE" />
		<result column="workingDay" property="workingDay"
			jdbcType="VARCHAR" />
		<result column="totalWeekWorkHours"
			property="totalWeekWorkHours" jdbcType="DECIMAL" />
		<result column="status" property="status"
			jdbcType="VARCHAR" />
		<result column="addedOn" property="addedOn" jdbcType="DATE" />
		<result column="lastModifiedOn" property="lastModifiedOn"
			jdbcType="DATE" />
	<collection property="timecardDayDetails"
		ofType="TimecardDayDetails" select="getTimecardDayDetailsPerTCDID"
		column="tcdId">
		<id column="tcdId" property="tcdId" />
	</collection>

	</resultMap>

	<resultMap id="TimecardDayDetailsMap"
		type="TimecardDayDetails">
		<id column="tcddId" property="tcddId" jdbcType="INTEGER" />
		<result column="tcdId" property="tcdId" jdbcType="INTEGER" />
		<result column="tcId" property="tcId" jdbcType="INTEGER" />
		<result column="projectId" property="projectId"
			jdbcType="INTEGER" />
		<result column="activityId" property="activityId"
			jdbcType="INTEGER" />
		<result column="location" property="location"
			jdbcType="VARCHAR" />
		<result column="startTime" property="startTime"
			jdbcType="VARCHAR" />
		<result column="endTime" property="endTime" jdbcType="VARCHAR" />
		<result column="workingHours" property="workingHours"
			jdbcType="DECIMAL" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="onLeave" property="onLeave" jdbcType="VARCHAR" />
		<result column="taskDetails" property="taskDetails"
			jdbcType="VARCHAR" />
		<result column="addedOn" property="addedOn" jdbcType="DATE" />
		<result column="lastModifiedOn" property="lastModifiedOn"
			jdbcType="DATE" />
	</resultMap>

	<resultMap id="TimecardDayInfoViewMap" type="TimecardDayInfo">
		<id column="tcId" property="tcId" jdbcType="INTEGER" />
		<id column="tcdId" property="tcdId" jdbcType="INTEGER" />
		<result column="workingdate" property="workingdate"
			jdbcType="DATE" />
		<collection property="timecardDayDetails" column="tcId"
			javaType="ArrayList" ofType="TimecardDayDetails">
			<id property="tcId" column="tcId" />
			<id property="tcdId" column="tcdId" />
			<result property="projectId" column="projectId" />
			<result property="activityId" column="activityId" />
			<result property="location" column="location" />
			<result property="taskDetails" column="taskDetails" />
		</collection>
	</resultMap>

<!-- 	<resultMap id="TimecardInfoManagerMap" type="TimecardInfo">
		<id column="tcId" property="tcId" jdbcType="INTEGER" />
		<result column="projectGroup" property="projectGroup" />
		<collection property="employeeTimecard"
			ofType="TimecardDayInfo" select="getEmployeeTimecardPerProjectPerDay"
			column="tcId">			
		</collection>
	</resultMap>

	<resultMap id="TimecardDayInfoManagerMap" type="TimecardDayInfo">
		<collection property="timecardDayDetails"
			ofType="TimecardDayDetails" select="getEmployeeTimecardPerProject"
			column="tcdId">
			<id column="tcdId" property="tcdId" />
		</collection>

	</resultMap>
 -->
	<!-- End Of Defining Result Map -->

	<!-- Operations Made on TimecardInfo table -->

	<insert id="addTimecardInfo" parameterType="TimecardInfo"
		useGeneratedKeys='true' keyProperty='tcId'>
		insert into TimecardInfo
		(empId,weekStart,weekEnd,status,addedOn)
		values
		(#{empId},
		#{weekStart},
		#{weekEnd},#{status},now())
	</insert>

	<update id="updateTimecardInfo" parameterType="TimecardInfo"
		keyProperty="tcId">
		UPDATE TimecardInfo SET status=#{status},
		lastModifiedOn=now()
		WHERE tcId=#{tcId} and empId=#{empId}
	</update>

	<update id="updateTimecardInfoHour" parameterType="TimecardInfo"
		keyProperty="tcId">
		UPDATE TimecardInfo ti SET status=#{status}, totalHours = ifnull((select
		sec_to_time(sum(Time_to_sec(workingHours))) from
		TimecardDayDetails tcdd where tcdd.tcid=ti.tcId and recordType='Active' ),'00:00:00')
		WHERE
		tcId=#{tcId} and empId=#{empId}
	</update>

	<select id="isCurrentTimecardExistForCurrentEmployee"
		parameterType="TimecardInfo" resultType="int">
		select ifnull(
		(select tcId
		from TimecardInfo where empId=#{empId} and tcId =#{tcId}
		),-1) from
		dual;
	</select>

	<select id="isDataForCurrentWeekExists"
		parameterType="TimecardInfo" resultType="int">
		select ifnull(
		(select tcId
		from TimecardInfo where empId=#{empId} and
		(weekStart between
		#{weekStart} and #{weekEnd})
		),-1) from dual;
	</select>

	<select id="isTimecardAlreadySubmitted"
		parameterType="TimecardInfo" resultType="int">
		select ifnull(
		(select tcId
		from TimecardInfo where tcID=#{tcId} and status=#{status}),-1) from dual;
	</select>


	<!-- Operation Ended for table TimecardInfo -->

	<!-- Operation Ended for table TimecardDayInfo -->

	<insert id="addIndividualTimecardDayInfo"
		parameterType="TimecardDayInfo" useGeneratedKeys='true'
		keyProperty='tcdId' keyColumn="tcdId">
		insert into
		TimecardDayInfo(tcId,workingDate,workingDay,
		status,addedOn)
		values
		(#{tcId},#{workingDate}, #{workingDay},
		#{status}, now())
	</insert>

	<insert id="addBatchTimecardDayInfo" parameterType="list"
		useGeneratedKeys='true' keyProperty='tcdId' keyColumn="tcdId">
		insert into
		TimecardDayInfo(tcId,workingDate,workingDay,
		status,addedOn)
		values
		<foreach collection="list" item="TimecardDayInfo"
			index="index" separator=",">
			(#{TimecardDayInfo.tcId},#{TimecardDayInfo.workingDate},#{TimecardDayInfo.workingDay},
			#{TimecardDayInfo.status},now())
		</foreach>
	</insert>

	<update id="updateTimecardDayInfo"
		parameterType="TimecardDayInfo" useGeneratedKeys="true"
		keyProperty="tcdId">
		UPDATE TimecardDayInfo SET
		status = #{status},
		lastModifiedOn = now()
		WHERE tcdId=#{tcdId} and tcId = #{tcId} and
		workingDate= #{workingDate}
	</update>

	<update id="updateTimecardDayHourInfo"
		parameterType="TimecardDayInfo" useGeneratedKeys="true"
		keyProperty="tcdId">
		UPDATE TimecardDayInfo tcdi SET
		status = #{status},
		totalWeekWorkHours =ifnull((select
		sec_to_time(sum(Time_to_sec(workingHours)))
		from TimecardDayDetails tcdd where tcdi.tcId=tcdd.tcId and
		tcdi.tcdId=tcdd.tcdid
		and recordType='Active' ),'00:00:00')
		WHERE tcdId=#{tcdId} and tcId =
		#{tcId} and
		workingDate= #{workingDate}
	</update>

	<select id="isTimecardExistsForCurrentDateForCurrentEmployee"
		parameterType="TimecardDayInfo" resultType="int">
		select ifnull(
		(select tcdId
		from TimecardDayInfo where tcId = #{tcId} and
		workingDate=#{workingDate,jdbcType=VARCHAR} limit 0,1),-1) from dual;
	</select>

	<!-- Operation ended for table TimecardDayInfo -->

	<insert id="addIndividualTimecardDayDetails"
		parameterType="TimecardDayDetails" useGeneratedKeys='true'
		keyProperty='tcddId' keyColumn="tcddId">
		insert into
		TimecardDayDetails(tcdId,tcId,projectId,activityId,location,startTime,endTime,workingHours,
		status,taskDetails,lastModifiedon,rowIndex)
		values
		(#{tcdId},#{tcId},#{projectId},#{activityId},#{location}
		,#{startTime},#{endTime},date_format(TimeDiff(#{endTime},#{startTime}),'%H:%i'),#{status},#{taskDetails},
		now(),#{rowIndex})
	</insert>

	<insert id="addBatchTimecardDayDetails" parameterType="list"
		useGeneratedKeys='true' keyProperty='tcdId' keyColumn="tcdId">
		insert into
		TimecardDayDetails(tcdId,tcId,projectId,activityId,location,startTime,endTime,workingHours,
		status,taskDetails,addedOn,recordType,rowIndex)
		values

		<foreach collection="list" item="TimecardDayDetails"
			index="index" separator=",">
			(#{TimecardDayDetails.tcdId},#{TimecardDayDetails.tcId},#{TimecardDayDetails.projectId},
			#{TimecardDayDetails.activityId},#{TimecardDayDetails.location},
			#{TimecardDayDetails.startTime},#{TimecardDayDetails.endTime},
			date_format(TimeDiff(#{TimecardDayDetails.endTime},#{TimecardDayDetails.startTime}),'%H:%i'),			
			#{TimecardDayDetails.status},
			#{TimecardDayDetails.taskDetails}, now(),#{TimecardDayDetails.recordType},#{TimecardDayDetails.rowIndex})
		</foreach>
	</insert>

	<update id="updateTimecardDayDetails"
		parameterType="TimecardDayDetails" useGeneratedKeys="true"
		keyProperty="tcddId">
		UPDATE TimecardDayDetails SET
		projectId=#{projectId},
		activityId=#{activityId},
		location=#{location},
		startTime=#{startTime},
		endTime=#{endTime},
		workingHours=#{workingHours},
		status =#{status},
		taskDetails=#{taskDetails},
		lastModifiedOn = now()
		WHERE
		tcddId=#{tcddId} and tcdId=#{tcdId} and tcId = #{tcId}
	</update>

	<update id="UpdateDayDetailsByManager"
		parameterType="TimecardDayDetails" useGeneratedKeys="true"
		keyProperty="tcddId">
		UPDATE TimecardDayDetails SET
		status =#{status},
		taskDetails=#{taskDetails},
		lastModifiedOn = now()
		WHERE
		tcId = #{tcId} and projectId=#{projectId}
	</update>

	<update id="DeactivateTimecardDayDetails" parameterType="int"
		useGeneratedKeys="true" keyProperty="tcdId">
		UPDATE TimecardDayDetails SET
		recordType='Discard',
		lastModifiedOn = now()
		WHERE tcId = #{tcId}
	</update>


	<select id="isDataForCurrentDateTimeExists"
		parameterType="TimecardDayDetails" resultType="int">

		select ifnull((select
		tcddId from TimecardDayDetails where tcddId not in (#{tcddId}) and
		tcdId=#{tcdId} and tcId = #{tcId} and
		starttime between #{startTime}
		and #{endTime}
		union
		select tcddId from TimecardDayDetails where tcddId
		not in (#{tcddId}) and tcdId=#{tcdId} and tcId = #{tcId} and
		endtime between #{startTime} and #{endTime} limit 0,1),-1) from dual
	</select>

	<select id="isDataExistForLeave"
		parameterType="TimecardDayDetails" resultType="String">

		select ifnull((select
		group_concat(tcdId) from TimecardDayDetails where tcId = #{tcId} and
		activityId='18'),-1) from dual
	</select>

	<!-- Select query to show data on view page for logged in employee -->

	<select id="getTimecardCurrentView" parameterType="TimecardInfo"
		resultType="TimecardInfo">
		select
		tcId,empId,weekStart,weekEnd,totalHours,totalWeekWorkHours,status from
		TimecardInfo
		<where>
			<if test="tcId!= null">
				tcId=#{tcId}
			</if>
			<if test="weekStart!= null">
				and weekStart=#{weekStart}
			</if>
			<if test="weekEnd!= null">
				and weekEnd=#{weekEnd}
			</if>
			<if test="status!= null">
				and status=#{status}
			</if>
		</where>

	</select>

	<select id="getTimecardView" parameterType="TimecardInfo"
		resultType="TimecardInfo">
		select tci.tcId,ifnull(weekStart,' ') as weekStart,
		ifnull(weekEnd,' ') as weekEnd, ifnull(tci.status,' ') as status,
		ifnull(concat(date_format(weekStart,'%d %b'),' to ',date_format(weekend,'%d %b')),' ') WeekPeriod,
		ifnull(totalHours,' ') totalHours,ifnull(tci.status,' ')
		statusGrid,ifnull((select group_concat(distinct concat(firstName,' ',middleName,' ',lastName)) from 
		TimecardApproverDetails tcad, EmployeeInfo ei where tci.tcId=tcad.tcId and ei.empId=tcad.approverId),' ') managerName
		from TimecardInfo tci  where tci.empId=#{empId} 

			<if test="status!= null">
				and tci.status=#{status} 
			</if>
			<if test="weekStart!= null">
				and weekStart &gt;=#{weekStart,jdbcType=VARCHAR}
			</if>
			<if test="weekEnd!= null">
				and weekEnd &lt;=#{weekEnd,jdbcType=VARCHAR};
			</if>	 
	</select>

	<select id="getTimecardDetailView" parameterType="int" resultType="TimeCardView">
			select Date_format(tcdi.workingDate,'%d %b') workingdate,tcdd.tcid tcId,tcdd.tcdid	tcdId,
			tcdd.projectid projectId,tcdd.activityId activityId ,
			tcdd.location location ,
			sec_to_time(sum(Time_to_sec(workingHours))) weekWorkingHours,
			ifnull((select concat(firstName,' ',middleName,' ',lastName) from EmployeeInfo where
			empId=approverId),' ') managerName, tcdd.status status,tcad.comments
			managerComment
			from TimecardDayInfo tcdi left join TimecardDayDetails tcdd on
			tcdi.tcdId=tcdd.tcdId
			left join TimecardApproverDetails tcad
			on tcdd.tcid=tcad.tcid and tcdd.projectid=tcad.projectid
			where tcdd.tcid=#{tcId} and tcdd.recordtype='Active' group by
			tcdd.tcdid,tcdd.projectid,tcdd.activityId ,tcdd.location order by    tcdId, 
			tcdd.projectid,tcdd.activityId ,tcdd.location 
	</select>

<!-- *********************************************************************** 
		Operation to fetch Project approver details 
		for case of submit to insert data into table 
		TimecardApprover Details 
    *********************************************************************** -->

	<select id="getProjectApproverList"
		parameterType="TimecardDayDetails"
		resultType="TimecardApproverDetails">
			select pId projectId,tcApprover approverId,level levelId from
			ProjectApproverDetails
			where pId=#{projectId} and startDate &lt;=#{workingDate} and endDate
			&gt;=#{workingDate}
	</select>

	<select id="isApproverExistforCurrentTimecardProject"
		parameterType="TimecardApproverDetails" resultType="int">
		select ifnull((select tcadId from TimecardApproverDetails
		where tcId=#{tcId} and projectId=#{projectId} and approverId=#{approverId}
		limit 0,1),-1) from dual
	</select>

	<insert id="addTimecardApproverDetails"
		parameterType="TimecardApproverDetails" useGeneratedKeys="true"
		keyProperty="tcadId">
		insert ignore into TimecardApproverDetails
		(tcId,projectId,approverId,levelId,status,comments,addedOn)
		values (#{tcId},#{projectId},#{approverId},#{levelId},'Pending',' ',now())
	</insert>

	<!-- Operation ended for submit data into table TimecardApprover Details -->


	<select id="getEmployeesUnderLoggedInManager"
		parameterType="int" resultType="User">
		SELECT
		PTM.empId,ei.firstName,ei.lastName,ei.empCode,ei.designationId,ei.dob,ei.doj
		FROM
		ProjectTeamDetails PTM, ProjectApproverDetails PAD, EmployeeInfo
		ei
		WHERE Pad.TCAPPROVER=#{empId} and PAD.pId=PTM.pId AND PTM.empId
		&lt;&gt; TCAPPROVER AND
		ei.empId=PTM.empId and ei.status='Active';
	</select>

	<select id="getTimecardByManager"
		resultType="TimecardManagerView">
		select empId, ti.tcId, ti.empId,ti.weekStart,ti.weekEnd
		,substr(DAYNAME(workingDate),1,3) dayName,workingDate, projectId,
		sec_to_time(sum(Time_to_sec(workingHours))) totalWeekHours,totalHours from
		TimecardDayDetails a, TimecardDayInfo b, TimecardInfo
		ti,ProjectApproverDetails where
		<if test="empId!= null">
			ti.empId=#{empId} and
		</if>
		<if test="weekStart!= null">
			weekStart=#{weekStart} and 
		</if>
		<if test="weekEnd!= null">
			weekEnd=#{weekEnd} and 
		</if>		
		
		a.tcId=b.tcId and
		a.tcdId=b.tcdId and ti.tcId=a.tcId and ti.tcId=b.tcId and
		ti.status='draft' and
		pId=projectId
		group by ti.tcId,
		projectId,workingDate order by ti.tcId,workingDate;

	</select>


	<!-- ***************************************************** 
			SQL Queries for	Approve and Reject Operation 
		 ***************************************************** 
    -->


	<select id="getTimecardInfoPerTCID"
		parameterType="TimecardInfo" resultMap="TimecardInfoMap">
		select tcId,empId,weekStart,weekEnd,totalHours,status from
		TimecardInfo where empId=#{empId}  

			<if test="tcId!= 0">
				and tcId=#{tcId} 
			</if>
			<if test="weekStart!= null">
				and weekStart &gt;=#{weekStart,jdbcType=VARCHAR}
			</if>
			<if test="weekEnd!= null">
				and weekEnd &lt;=#{weekEnd,jdbcType=VARCHAR};
			</if>	
		
	</select>

	<select id="getTimecardDayInfoPerTCID"
		parameterType="TimecardDayInfo" resultMap="TimecardDayInfoMap">
		select tcdId, tcId,
		workingDate, workingDay, totalWeekWorkHours,status from
		TimecardDayInfo where
		tcId=#{tcId}
	</select>

	<select id="getTimecardDayDetailsPerTCDID"
		parameterType="TimecardDayInfo" resultMap="TimecardDayDetailsMap">
		select tcddId, tcdId, tcId,projectId,activityId,location,startTime,endTime,workingHours,
		status,taskDetails from	TimecardDayDetails where tcdId=#{tcdId} and recordType='Active'
	</select>


	<select id="getTimecardApproverSummary"
		parameterType="TimecardInfo" resultType="TimecardInfo">

		select tcId, weekStart, weekEnd, status, totalHours, approverId, projectGroup,empId from (  
			select tci.tcId tcId, tci.weekStart weekStart ,tci.weekEnd weekEnd, tci.status status , tci.totalHours totalHours, 
			tcad.approverId approverId, tcad.projectID projectId, 
			ifnull((select group_concat(tcadsub.projectId) from TimecardApproverDetails tcadsub where 
			tcadsub.approverId=tcad.approverId and tcadsub.tcID=tcad.tcId),' ') projectGroup,tci.empId empId
			from TimecardApproverDetails tcad, TimecardInfo tci 
			where approverId=#{approverId} and tci.tcId=tcad.tcId and tci.status='Pending'
		) as Main group by 1;
		
	</select>

	<select id="getEmployeeTimecardPerProjectPerDay"
		parameterType="TimecardProjectWorkDetails" resultType="TimecardDetailSearch">

		    select tcdd.tcId tcId, tcdd.tcdId tcdId,tcdd.projectId, 
			convert(sec_to_time(sum(Time_to_sec(workingHours))),char) totalWeekWorkHours, 
			tcdi.workingDate workingDate, tcdi.workingDay workingDay, tcdd.status status,tcdd.activityId,tcdd.location,
			ifnull((select concat(firstName,' ', middleName,' ', lastName) from TimecardApproverDetails tcad, EmployeeInfo ei where tcad.projectId=tcdd.projectId and
			tcad.tcId=tcdi.tcId and tcad.approverId=ei.empId),' ') as managerName
			  from 
			TimecardDayDetails tcdd,TimecardDayInfo tcdi 
			where tcdd.tcId=#{tcId}  and tcdd.tcId=tcdi.tcId and tcdd.tcdId=tcdi.tcdId 
			and tcdd.projectId=#{projectId} and tcdd.recordType='Active' group by tcdid,workingDate,workingDay,status,
			tcdd.activityId,tcdd.location,managerName;
 
	</select>
	
	<select id="getEmployeeTimecardPerProject"
		parameterType="TimecardInfo" resultType="TimecardProjectWorkDetails">

			select tcdd.tcId tcId, Convert(sec_to_time(sum(Time_to_sec(workingHours))), Char) totalProjectWorkHour, 
			tcdd.projectId projectId,
			ifnull((select projectName from ProjectsInfo PI where PI.projectId=tcdd.projectId),' ') projectName
			from TimecardDayDetails tcdd,TimecardDayInfo tcdi 
			where tcdd.tcId=#{tcId}  and tcdd.tcId=tcdi.tcId and tcdd.tcdId=tcdi.tcdId 
			and tcdd.projectId  in (
			<foreach item="item" index="index" collection="projectValue" separator="," >
				#{item} 
			</foreach>	
			) and tcdd.recordType='Active'  group by tcdd.projectId;


	</select>

	<select id="getTimecardViewDetails"
		parameterType="TimecardInfo" resultType="TimecardDayDetails">
			select tcdd.tcId tcId, tcdd.tcdId tcdId,tcdd.tcddId tcddId, projectId, activityId, location,  tcdd.status status, taskDetails,
			group_Concat('$ ',concat(workingDate,'*',startTime,'*',endTime,'*',tcdd.workingHours)) timecardRowDetails,
			ifnull((select projectName from ProjectsInfo PI where PI.projectId= tcdd.projectId),' ') projectName,
			ifnull((select activity from ActivitiesInfo PI where PI.activityId= tcdd.activityId),' ') activityName,
			ifnull((select location from WorkLocationsInfo PI where PI.workLocationId = tcdd.location),' ') locationName
			 from TimecardDayDetails tcdd, 
			TimecardDayInfo tcdi, TimecardInfo tci
			where empId=#{empId}  	


			<if test="tcId!= 0">
				and tci.tcId=#{tcId} 
			</if>
			<if test="weekStart!= null">
				and tci.weekStart &gt;=#{weekStart,jdbcType=VARCHAR}
			</if>
			<if test="weekEnd!= null">
				and tci.weekEnd &lt;=#{weekEnd,jdbcType=VARCHAR}
			</if>		
			and tci.tcId=tcdd.tcId and tcdd.tcId=tcdi.tcId and tcdd.tcdId=tcdi.tcdId and 
			tcdd.recordType='Active' and tci.status='draft' group by rowIndex order by rowIndex ;
	</select>
	
<!-- 	<select id="getWeekTimecard" parameterType="TimecardInfo" resultType="TimecardDayDetails">
	Select tdi.tcId,tdd.projectId,tdd.activityId,tdd.location,tdi.workingDay,tdi.totalWeekWorkHours,tdi.workingDate,tdd.tcddId,tdd.tcdId,tdd.taskDetails,tdd.status,tdd.startTime,tdd.endTime,tdd.workingHours,
	ifnull((select projectName from ProjectsInfo PI where PI.projectId= tdd.projectId),' ') projectName,
	ifnull((select location from WorkLocationsInfo PI where PI.workLocationId = tdd.location),' ') locationName,
	ifnull((select activity from ActivitiesInfo PI where PI.activityId= tdd.activityId),' ') activityName 
	FROM TimecardDayInfo tdi inner join TimecardInfo ti on tdi.tcId=ti.tcId inner join TimecardDayDetails tdd on tdd.tcdId=tdi.tcdId 
	WHERE ti.weekStart=#{weekStart} and weekEnd=#{weekEnd}  and ti.empId=#{empId};
	</select> -->
	
	<select id="getPreviousWeekStatus"  resultType="TimecardInfo">
	select distinct ti.empId,(select e.email from EmployeeInfo e where ti.empId=e.empId) email,ti.status,now() FROM TimecardInfo ti WHERE ti.weekStart BETWEEN (NOW() - INTERVAL
 11 DAY) AND NOW() and UPPER(ti.status)=upper('draft');
	</select>
	
</mapper> 
 
 
